.banner{
    width: 100%;
    height: 760px;
    background-image: url('/B13-A02-TechWave/assets/hero-bg.png');
}


.foot{
    height: 412px;
    width: 1600px;
    margin: auto;
    background-color: #1A0B2E;
    background-image: url('/B13-A02-TechWave/assets/footer-bg.png');

}